<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="layout" value="[${uppercase:${level:padding=-5}}]${longdate}${message}" />

  <targets>
    <target
      name="trace"
      xsi:type="File"
      fileName="${basedir}/Log/trace_${date:format=yyyyMMdd}.log"
      layout="${layout}"
      encoding="utf-8" />
    <target
     name="error"
     xsi:type="File"
     fileName="${basedir}/Log/error_${date:format=yyyyMMdd}.log"
     layout="${layout}"
     encoding="utf-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="trace" />
    <logger name="*" minlevel="Warn" writeTo="error" />
  </rules>
</nlog>